<h1 class="section"><%= t "admin.manage_order.title" %></h1>
<div class="btn-group">
  <%= link_to(t("admin.manage_order.pending"), admin_orders_path(status: 0), class: "button-filter") %>
  <%= link_to(t("admin.manage_order.approved"), admin_orders_path(status: 1), class: "button-filter") %>
  <%= link_to(t("admin.manage_order.received"), admin_orders_path(status: 2), class: "button-filter") %>
  <%= link_to(t("admin.manage_order.inprogress"), admin_orders_path(status: 3), class: "button-filter") %>
  <%= link_to(t("admin.manage_order.finished"), admin_orders_path(status: 4), class: "button-filter") %>
  <%= link_to(t("admin.manage_order.cancel"), admin_orders_path(status: 5), class: "button-filter") %>
</div>
<table class="table">
  <% @orders.each do |order| %>
    <%= render partial: "order", locals: {order: order} %>
  <% end %>
</table>
<%= will_paginate @orders %>

